<%- layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <!-- method overriding -->
        <!-- check routes! upload.array('image') after isLoggedin etc -->
        <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" value="<%= camp.title %> " required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" value="<%= camp.location %> " required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Add Images</label>
                <input type="file" name="image" id="image" multiple>
            </div>

            <div class="mb-3">
                <label class="mb-2" for="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0" aria-label="Amount (to the nearest dollar)" value="<%= camp.price %> " required>
                    <span class="input-group-text">.00</span>
                  </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description" required><%= camp.description %> </textarea>
            </div>


            <div class="mb-3">
                <button class="btn btn-success">Edit Campground</button>
            </div>

        </form>
        <a href="/campgrounds/">Back To Campground</a>
    </div>
</div>

