<%- layout('layouts/boilerplate')%>
<!-- Cluster map -->
<div id="map" class="map-index" style="width: 100%; height: 500px; margin-left: 0;"></div>
<div class="map-placeholder"></div>

<div class="mb-5 mt-5 text-center">
    <h2>There are...</h2>
    <p><%= campgrounds.length %> campgrounds in Midwest. </p>
</div>

<div class="container" id="campgrounds-container">
    
    <% for(let camp of campgrounds){ %>
    <% let avgRating = 0; %>
    <% let totalReviews = camp.reviews.length; %>
    <% for(let review of camp.reviews){ %>
    <% avgRating += review.rating %>
    <% } %>

    <!-- ! Fixed to 2 decimals -->
    <% avgRating = avgRating / totalReviews; %>
    <% avgRating = + avgRating.toFixed(2);  %>
    <!-- <h3><%= avgRating %>/5</h3> -->


    <div class="card mb-3">
        <div class="row">

            <!-- Image -->
            <div class="col-md-4">
                <% if(camp.images.length){ %>
                <img class="img-fluid" alt="Campground image" src="<%= camp.images[0].url %>">
                <% } else{ %>
                <img class="img-fluid" alt="Campground image"
                    src="https://res.cloudinary.com/dj0mmzypj/image/upload/v1644911572/Campsite-Finder/qyqnwhjhte5vuuingrms.jpg">
                <% } %>
            </div>

            <!-- Info -->
            <div class="col-md-8">
                <div class="card-body">


                    <h5 class="card-title"> <%= camp.title %> </h5>
                    <p class="card-text"> <%= camp.description %> </p>
                    <p class="card-text">
                        <small class="text-muted"> <%= camp.location %> </small>
                    </p>

                    <p class="card-text">
                        <!--  -->
                        <% if(isNaN(avgRating)){ %>
                        <small class="text-muted"> No rating yet... </small>
                        <% } else { %>
                        <small class="text-muted"> Rating: <%= avgRating %> </small>
                        <% } %>
                    </p>

                    <a href="campgrounds/<%= camp._id %> " class="btn btn-primary" name="modal">View
                        <%= camp.title %></a>
                </div>
            </div>
        </div>
    </div>
    <% } %>    
</div>

<!-- Pagination -->
<!-- <div class="text-center mb-5">
    <a href="/campgrounds?page=<%= campgrounds.nextPage %>" id="paginate" class="btn btn-primary" style="margin-bottom: 30px;">View More</a>
</div> -->


<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = {features: <%-JSON.stringify(campgrounds) %>}
</script>

<!-- Will be added if pagination is needed -->
<!-- <script src="/js/pagination.js"></script> --> 
<script src="/js/clusterMap.js"></script>
<link rel="stylesheet" href="/css/map.css">